<div class="standings-wrapper">
	<h3>Standings</h3>
	<div class="standings-table-wrapper">
		<div class="table-scroll">
			<table>
				<thead>
					<tr>
						<th><span class="text">User</span></th>
						<th><span class="th-record">Week</span></th>
						<th><span class="th-record">Overall</span></th>
					</tr>
				</thead>
				<tbody>
					<% @users.map do |user| %>
						<tr>
                            <% if user.name.nil? %>
							    <td class="td-name"><%= user.email %></td>
                            <% else %>
                                <td class="td-name"><%= user.name %></td>
                            <% end %>
							<td class="td-record"><%= user.pickem_picks_record_by_year_and_week(@year, @week) %></td>
							<td class="td-record"><%= user.pickem_picks_record_by_year(@year) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
