<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse!important;margin:0;padding:0;background-color:#f2f2f2;border-spacing:0px!important;height:100%!important;width:100%!important">
  <tbody><tr style="border-spacing:0px!important;border-collapse:collapse!important">
    <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;border-spacing:0px!important;border-collapse:collapse!important;height:100%!important;width:100%!important">

      <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse!important;border:0;border-spacing:0px!important">
        <tbody><tr style="border-spacing:0px!important;border-collapse:collapse!important">
          <td align="center" valign="top" style="border-spacing:0px!important;border-collapse:collapse!important">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse!important;background-color:#ffffff;border-top:0;border-bottom:0;border-spacing:0px!important">
              <tbody><tr style="border-spacing:0px!important;border-collapse:collapse!important">
                <td valign="top" style="padding-top:9px;border-spacing:0px!important;border-collapse:collapse!important"></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr style="border-spacing:0px!important;border-collapse:collapse!important">
          <td align="center" valign="top" style="border-spacing:0px!important;border-collapse:collapse!important">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse!important;background-color:#ffffff;border-top:0;border-bottom:0;border-spacing:0px!important">
              <tbody><tr style="border-spacing:0px!important;border-collapse:collapse!important">
                <td valign="top" style="border-spacing:0px!important;border-collapse:collapse!important"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important;border-spacing:0px!important">
                  <tbody>
                  <tr style="border-spacing:0px!important;border-collapse:collapse!important">
                    <td valign="top" style="border-spacing:0px!important;border-collapse:collapse!important">

                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse!important;border-spacing:0px!important">
                        <tbody><tr style="border-spacing:0px!important;border-collapse:collapse!important">

                          <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left;border-spacing:0px!important;border-collapse:collapse!important">


                            <table align="center" style="border-collapse:collapse;background:#fff;border-spacing:0px!important">
                              <thead>
                              <tr style="border-spacing:0px!important;border-collapse:collapse!important">
                                <td style="padding:0px;border-spacing:0px!important;border-collapse:collapse!important"><a href="http://www.foo-nation.com" style="word-wrap:break-word;color:#6dc6dd;font-weight:normal;text-decoration:underline" target="_blank"><img align="none" height="89" src="http://www.foo-nation.com/assets/email_header.png" style="vertical-align:top;min-height:89px;width:560px;margin:0px;border:0;outline:none;text-decoration:none" width="560"></a></td>
                              </tr>
                              </thead>
                              <tbody>
                              <tr style="border-spacing:0px!important;border-collapse:collapse!important">
                                <td style="padding-bottom:20px;border-spacing:0px!important;border-collapse:collapse!important">
                                  <p style="line-height:150%;font-family:'Georgia','Times',serif;margin:20px 0px 20px 20px;padding:0;color:#606060;font-size:15px;text-align:left"><span style="font-family:georgia,serif;font-size:18pt;font-weight:bold;line-height:0.21in">Games w/ Rules for 2014</span></p>

                                  <p style="margin-bottom:0in;margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"><font face="Georgia, serif"><font style="font-size:11pt;">
                                    <span style="font-weight:bold;">Fooicide</span> - $10 entry fee - Winner take all
                                    <ol>
                                      <li>Pick one team each week that you think will win.</li>
                                      <li>If your team loses, you get a strike.</li>
                                      <li>Two strikes and you are out.</li>
                                      <li>You can only pick each team once.</li>
                                      <li>Last man standing wins.</li>
                                    </ol>
                                  </font></font>			</p>

                                  <p style="margin-bottom:0in;margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"><font face="Georgia, serif"><font style="font-size:11pt;">
                                    <span style="font-weight:bold;">Win Pool</span> - $10 entry fee - Winner take all
                                    <ol>
                                      <li>Draft three teams at the beginning of the season.</li>
                                      <li>The draft will be an offline draft starting in the second half of August.  You will receive an email when the draft begins.</li>
                                      <li>The person with the highest win total between their three teams at the end of the season ist he winner.</li>
                                      <li>The entrants for this game are already locked</li>
                                      <ol>
                                        <li>Clint</li>
                                        <li>Nic</li>
                                        <li>Heist</li>
                                        <li>Sam</li>
                                        <li>Grant</li>
                                        <li>Mitman</li>
                                        <li>Travis Mattson</li>
                                        <li>Garrett</li>
                                        <li>Morris</li>
                                        <li>Coop</li>
                                      </ol>
                                    </ol>
                                  </font></font>			</p>

                                  <p style="margin-bottom:0in;margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"><font face="Georgia, serif"><font style="font-size:11pt;">
                                    <span style="font-weight:bold;">Wager Pick'em</span> - $50 entry fee - 1st place: 80%, 2nd place: 20%
                                    <ul>
                                        <li>You start with $200 fake dollars in your account.</li>
                                        <li>Wager your money on games vs. the spread.</li>
                                        <li>Bet on as many or as few games as you want each week.</li>
                                        <li>The minimum wager is $1 and the maximum wager is your account balance.</li>
                                        <li>These are single game wagers only.  There are no parlays.</li>
                                        <li>All wagers return 100% profit.  eg. Bet $50 to win $50.</li>
                                    </ul>
                                  </font></font>			</p><br/>
                                  <p>Please download <a href="http://www.google.com/wallet">Google Wallet</a> if you have no already done so.</p>
                                </td>
                              </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important;border-spacing:0px!important">
                  <tbody>
                  <tr style="border-spacing:0px!important;border-collapse:collapse!important">
                    <td valign="top" style="padding:0px;border-spacing:0px!important;border-collapse:collapse!important">

                    </td>
                  </tr>
                  </tbody>
                </table></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        <tr style="border-spacing:0px!important;border-collapse:collapse!important">
          <td align="center" valign="top" style="border-spacing:0px!important;border-collapse:collapse!important">


          </td>
        </tr>
        </tbody>
      </table></td>
  </tr>
  </tbody></table>

</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
</body>
</html>