<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Foo-nation is back!</h1>
<p>
  We have so many fun games!<br>
</p>
<p>
     <%= "http://www.foo-nation.com" %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>