<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Submit your picks</h1>
<p>
  <%= "http://www.foo-nation.com" %>.
</p>
</body>
</html>