<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Foo-nation is back!</h1>
<p>
  <%= "http://www.foo-nation.com" %>.
</p>
<p>
  <h3>Improvements have been made:</h3>
  <ul>
    <li>Optimized for mobile devices</li>
    <li>Wagers added to pigskin pickem</li>
    <li>Weekly reminder emails for David</li>
    <li>Win Pool added</li>
    <li>Web server improvements (aka. faster)</li>
    <li>Automated score updates</li>
    <li>General UI improvement</li>
    <li>Bug fixes</li>
    <li>New Nic pic</li>
  </ul>
</p>
<p>
  Please download Google Wallet.  I'd like to use that instead of collecting cash this year, especially for the out of towners.
</p>
</body>
</html>