<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>It is your pick on the Foo-nation win pool!</h1>
<p>
  Go to <%= "http://www.foo-nation.com/winpool/1" %> to submit your pick.  You can also return there to see the win pool draft progress.
</p>

</body>
</html>