<div class='pickem-rules'>
	<ol>
	  <li>$10 entry fee, winner takes all</li>
	  <li>Pick one team each week</li>
	  <li>You can only pick each team once</li>
	  <li>If your team loses, you get a strike</li>
	  <li>Two strikes and you are out</li>
	</ol>	
</div>
