<div class="mod-content">
	<div class="game-header">
		<ul id="330804006-linescoreHeader" class="score header" style="display:block">
			<li id="330804006-lh1">1</li>
			<li id="330804006-lh2">2</li>
			<li id="330804006-lh3">3</li>
			<li id="330804006-lh4">4</li>
			<li id="330804006-OTHeader">&nbsp;</li>
			<li class="final">T</li>
		</ul>
	</div>
	<div class="team visitor">
		<div id="330804006-aWinner" class="winner-arrow" style="display:none"></div>
		<div class="logo-small logo-nfl-small nfl-small-mia"></div>
		<div class="team-capsule">
			<p id="330804006-aNameOffset" class="team-name">
				<a href="/nfl/clubhouse?team=mia">Dolphins</a>
				<span id="330804006-aPossession" style="padding-left: 2px; display: none;">
					<img src="http://a.espncdn.com/i/nfl/scoreboard/football.gif">
				</span>
			</p>
			<p id="330804006-aRecord" class="record">(0-0, 0-0 away)</p>
		</div>
		<ul id="330804006-aTeamLinks" class="team-links" style="display:none;">
			<li><a href="/nfl/teams/stats?team=mia&amp;year=2013&amp;season=1">Stats</a> »</li>
			<li><a href="/nfl/teams/depth?team=mia">Depth</a> »</li>
			<li><a href="/nfl/injuries?team=mia">Injury</a> »</li>
		</ul>
		<ul id="330804006-aScores" class="score" style="display:block">
			<li id="330804006-aScore1">0</li>
			<li id="330804006-aScore2">3</li>
			<li id="330804006-aScore3">0</li>
			<li id="330804006-aScore4">0</li>
			<li id="330804006-aScore5">&nbsp;</li>
			<li class="final" id="330804006-aTotal">3</li>
		</ul>
	</div>
	<div class="team home">
		<div id="330804006-hWinner" class="winner-arrow" style="display:none"></div>
		<div class="logo-small logo-nfl-small nfl-small-dal"></div>
		<div class="team-capsule">
			<p id="330804006-hNameOffset" class="team-name">
				<a href="/nfl/clubhouse?team=dal">Cowboys</a>
				<span id="330804006-hPossession" style="padding-left: 2px; display: inline;">
				<img src="http://a.espncdn.com/i/nfl/scoreboard/football.gif"></span>
			</p>
			<p id="330804006-hRecord" class="record">(0-0, 0-0 home)</p>
		</div>
		<ul id="330804006-hTeamLinks" class="team-links" style="display:none;">
			<li><a href="/nfl/teams/stats?team=dal&amp;year=2013&amp;season=1">Stats</a> »</li>
			<li><a href="/nfl/teams/depth?team=dal">Depth</a> »</li>
			<li><a href="/nfl/injuries?team=dal">Injury</a> »</li>
		</ul>
		<ul id="330804006-hScores" class="score" style="display:block">
			<li id="330804006-hScore1">7</li><li id="330804006-hScore2">10</li>
			<li id="330804006-hScore3">0</li><li id="330804006-hScore4">0</li>
			<li id="330804006-hScore5">&nbsp;</li><li class="final" id="330804006-hTotal">17</li>
		</ul>
	</div>
</div>