<h3>NFL Scores</h3>

<div class="scorebox-wrapper">
	<div class="scorebox-header">
		<p class="score-date"><small>Sun, Aug 4</small></p>
	</div>
	<div class="scorebox" id="1">	
		<div class="team-wrapper">
			<div class="away-team">
				<div class="team-logo"><img src="images/ARI.png"></div>
				<div class="team-data">
					<div class="team-info">
						<p class="team-record">(0-0)</p>
						<p class="team-name">Cardinals</p>
					</div>
					<p class="team-score">20</p>
				</div>
			</div>
		</div>
		<div class="team-wrapper">
			<div class="home-team">
				<div class="team-logo"><img src="images/ATL.png"></div>
				<div class="team-data">
					<div class="team-info">
						<p class="team-record">(0-0)</p>
						<p class="team-name">Falcons</p>
					</div>
					<p class="team-score">18</p>
				</div>
			</div>
		</div>
	</div>
</div>