<div class='pickem-rules'>
	<ol>
	  <li>$20 entry fee</li>
	  <li>Snake draft to pick your teams</li>
	  <li>Every time your team scores 38, you get a share</li>
	  <li>Money is split at the end of the year based on shares</li>
	</ol>	
</div>
