div.main-nav {
	position: relative;
	z-index: 3;
	background: url("nav-bg.png") top left repeat-x;
}

div.main-nav .top-nav-items {
	margin-left: 100px;
	width: 905px;
	display: table;
}

.b-nav-group {
	border-left: 1px solid #a1a1a1;
	padding: 0px;
	margin: 0px;
	display: table-cell;
}

.nav-list {
	display: block;
	width: 100%;
	height: 40px;
	text-decoration: none;
	padding: 10px 0px 0px 0px;
	font: 26px NFLEndzoneSansCondMedium, "sans-serif", serif;
	color: #262626;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	position: relative;
	text-shadow: 0px 1px 1px white;
}

div.doc {
	font: normal normal 11px/13px arial, sans-serif;
	margin: 0 auto;
	text-align: left;
	min-height: 1px;
	width: 999px;
}

div.doc-wrapper {
	background: transparent;
	position: relative;
	width: 999px;
	padding: 10px 0 20px;
}

div.scorebox-wrapper {
	width: 307px;
	height: 152px;
	margin: 0 18px 10px 0;
	float: left;
	background: url('shadow.png') no-repeat	bottom;
	font: normal normal 11px/13px arial, sans-serif;
	text-align: left;
}

div.scorebox-header {
	background: url('scorebox-bg.png') repeat-x 0 0;
	height: 20px;
	color: white;
	line-height: 20px;
	padding: 0 5px;
}

.score-date {
    background: url('scorebox-bg.png') repeat-x 0 0;
    height: 20px;
    color: white;
    line-height: 20px;
    padding: 0 5px;
}

.scoreboard-footer {
	background: url('scorebox-bg.png') repeat-x 0 0;
	height: 20px;
	color: white;
	line-height: 20px;
	padding: 0 5px;
    border-top: 1px solid #D5D5D5;
}

.team-line {
	background: url('scorebox-bg.png') repeat-x 0 0;
	height: 20px;
	color: white;
	line-height: 20px;
	padding: 0 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

div.scorebox {
	width: 307px;
	height: 102px;
	border: 1px solid #cacaca;
	border-left: none;
	border-right: none;
}

div.team-wrapper {
	border: 1px solid #BDBDBD;
    border-bottom: none;
}

div.team-wrapper-scores {
    border: 1px solid #BDBDBD;
}

div.team-wrapper-not-available {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

div.team-wrapper-picked {
    border: 1px solid #000;
}

div.team-wrapper-win {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #0F6B04));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #0F6B04 100%);
    border: 1px solid #000;
}

div.team-wrapper-loss {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #961B0E));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #961B0E 100%);
}

div.team-wrapper-tie {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C9B608));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #C9B608 100%);
}

div.team-wrapper-picked-tie {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C9B608));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C9B608 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #C9B608 100%);
    border: 1px solid #000;
}

div.team-data {
	float: left;
	margin: 0 0 0 9px;
	width: 225px;
}

div.away-team {
	color: #222221;
	height: 49px;
	background: url('scorebox-bg.png') repeat-x 0 -20px;
	border: 1px solid white;
	border-top: none;
}

div.away-team-no-back {
    color: #222221;
    height: 49px;
    border: 1px solid white;
    border-top: none;
}

div.home-team {
	color: #222221;
	height: 49px;
	background: url('scorebox-bg.png') repeat-x 0 -20px;
	border: 1px solid white;
	border-top: none;
}

div.home-team-no-back {
    color: #222221;
    height: 49px;
    border: 1px solid white;
    border-top: none;
}

.team-logo {
	float: left;
	margin: 5px 0 0 8px;
	width: 60px;
	vertical-align: bottom;
	color: #364C88;
	cursor: auto;
}

div.team-info {
	float: left;
}

p.team-name {
	font: 21px NFLEndzoneSansCondMedium, sans-serif;
	color: #222221;
	text-align: left;
	margin: 0;
}

p.team-record {
	color: #5d5d5d;
	display: inline-block;
	width: 50px;
	margin: 0;
}

p.team-score {
	float: right;
	font: 28px/49px NFLEndzoneSlabBold, sans-serif;
	margin: 0 10px 0 0;
	text-align: center;
	width: 38px;
	display: block;
	height: 49px;
	overflow: hidden;
}

.navbar {
  float:none;
  display:inline-block;
  display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar{
    width: 80%;
    margin: 0 auto;
}

.mod-container {
	font-family: verdana,helvetica,arial,sans-serif;
	width: 100%;
	clear: both;
}

.mod-content {
	padding: 8px 12px;
	border: 1px solid #c2c2c2;
	color: #565656;
	background: #e3e3e3 url('gray_grad.jpg') top left repeat-x;
	border-width: 0;
}​

.dates {
	float: left;
	margin: 8px 40px 0 0;
	line-height: 1;
	font: 13px/1.385 helvetica,arial,clean,sans-serif;
}

.select-dates {
	height: 1%;
	margin-top: 6px;
	overflow: hidden;
}

.week {
	margin-top: 9px;
	overflow: hidden;
	height: 1%;
	margin: 1;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	display: block;
}

.bye-week {
	margin-top: 3px;
	overflow: hidden;
	height: 1%;
}

.week-caption {
	display: block;
	float: left;
	margin-right: 5px;
	padding-top: 4px;
	width: 50px;
	text-align: right;
}

.teams {
	padding-left: 55px;
	padding-top: 5px;
	float: left;
}

.select-year {
	display: block;
	float: left;
	margin-right: 5px;
	padding-top: 4px;
	width: 50px;
	text-align: right;
}

.week a {
	display: block;
	float: left;
	height: 19px;
	background: transparent url('bg_week.gif') repeat-x bottom;
	text-align: center;
	border: 1px solid #a5a5a5;
	border-right: 1;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color: #3e3e3e!important;
	width: 25px;
	vertical-align: baseline;
	margin: 0;
}

.week a.selected {
	background: #000;
	color: #fff!important;
}

.pickem-submit-button {
	float:none;
	display: block;
	clear: both;
	padding: 10px;
}

.button {
	display: inline-block;
	vertical-align: baseline;
	margin: 0 2px;
	outline: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1.5em .4em 1.5em;
	font: bold 11px/1em arial,helvetica,sans-serif;
	color: #606060;
	border: solid 1px #606060;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-border-radius: .5em .5em .5em .5em;
	-webkit-border-radius: .5em .5em .5em .5em;
	border-radius: .5em .5em .5em .5em;
	background: #fff;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gra
}

.button.disabled {
	color: #777;
	border-color: #777;
	background: #d7d7d7;
	cursor: default;
	position: static;
	top: 0;
	text-shadow: none;
}

.button:hover {
	background-color: #000;
	color: #fff;
}