body {
	line-height: 1;
	font: 13px/1.385 helvetica,arial,clean,sans-serif;
	color: #000;
}

.game-header {
	background: #dcdcdc url(http://a1.espncdn.com/nfl/scoreboard/2009/i/bg_header_ingame.jpg) top left no-repeat;
	padding: 2px 6px;
	border-bottom: 1px solid #dfdfdf;
	height: 1%;
	overflow: hidden;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.team {
	overflow: hidden;
	clear: both;
	padding: 6px 6px 6px 0;
	border-bottom: 1px solid #dfdfdf;
	background: #fefefe url(http://a1.espncdn.com/nfl/scoreboard/2009/i/bg_team.jpg) top left repeat-x;
	height: 1%;
	position: relative;
}