input[type=radio] {
    margin:10px;
}

.pickem-radio-wrapper {
	text-align:right
}

.pickem-submit-button {
	display:block
}

.table-wrapper {
  position:relative;
}

.table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.table-wrapper table {
  width:100%;
}

.table-wrapper table {
  background:yellow;
  color:black;
}

.table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

table td {
	border: 1px solid black;
}

table th {
	border: 1px solid black;
}

table td {
  table-layout:fixed;
  overflow:hidden;
  word-wrap:break-word;
}

.td-name {
	width: 150px;
    font-weight: bold;
}

.th-record {
	text-align: center;
    font-weight: bold;
}

.td-record-win {
    width: 50px;
    text-align: center;
    font-weight: bold;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #0F6B04));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #0F6B04 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #0F6B04 100%);
    border: 1px solid #000;
}

.td-record-loss {
    width: 50px;
    text-align: center;
    font-weight: bold;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #961B0E));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #961B0E 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #961B0E 100%);
}

.td-record {
    width: 125px;
    text-align: center;
    font-weight: bold;
}

