<% if user_signed_in? %>
    <div class="account-info">
      Current Holdings =
      <span id="account-amount"><%= current_user.find_balance_by_year(@year)%></span>
    </div>
<% end %>

<div class="main-nav">
  <ul class="top-nav-items">
  	<% if request.fullpath == "/home" %>
    	<li class="b-nav-group"><a class="nav-list" href="/home">Home</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/home">Home</a></li>
	<% end %>
	
	<% if request.fullpath == "/pigskinpickem" %>
    	<li class="b-nav-group"><a class="nav-list" href="/pickem">Pigskin Pick'em</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/pickem">Pigskin Pick'em</a></li>
	<% end %>
	
	<% if request.fullpath == "/fooicide" %>
    	<li class="b-nav-group"><a class="nav-list" href="/fooicide">Fooicide</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/fooicide">Fooicide</a></li>
	<% end %>

    <% if request.fullpath == "/winpool" %>
        <li class="b-nav-group"><a class="nav-list" href="/winpool/1">Win Pool</a></li>
    <% else %>
        <li class="b-nav-group"><a class="nav-list" href="/winpool/1">Win Pool</a></li>
    <% end %>

    <% if user_signed_in? %>
        <li class="b-nav-group"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "nav-list" %></li>
    <% else %>
        <li class="b-nav-group"><%= link_to 'Sign In', "/users/sign_in", class: "nav-list" %></li>
    <% end %>
  </ul>
</div>