<% if user_signed_in? %>
    <div class="account-info">
      Current Holdings = $
      <span id="account-amount"><%= current_user.accounts.find_by_year(@year).try(:amount).try(:to_f).try(:round,2) %></span>
    </div>
<% end %>

<div class="main-nav">
  <ul class="top-nav-items">
  	<% if request.fullpath == "/home" %>
    	<li class="b-nav-group"><a class="nav-list" href="/home">Home</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/home">Home</a></li>
	<% end %>
	
	<% if request.fullpath == "/pigskinpickem" %>
    	<li class="b-nav-group"><a class="nav-list" href="/pickem">Pigskin Pick'em</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/pickem">Pigskin Pick'em</a></li>
	<% end %>
	
	<% if request.fullpath == "/fooicide" %>
    	<li class="b-nav-group"><a class="nav-list" href="/fooicide">Fooicide</a></li>
	<% else %>
		<li class="b-nav-group"><a class="nav-list" href="/fooicide">Fooicide</a></li>
	<% end %>

    <% if request.fullpath == "/stats" %>
        <li class="b-nav-group"><a class="nav-list" href="/stats">Research</a></li>
    <% else %>
        <li class="b-nav-group"><a class="nav-list" href="/stats">Research</a></li>
    <% end %>

    <li class="b-nav-group"><%= link_to 'Sign In', "/users/sign_in", class: "nav-list" %></li>
    <li class="b-nav-group"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "nav-list" %></li>
  </ul>
</div>